body
{
}
.logo
{
position: relative;
z-index: 3;
background-color: #f3eba0;
height: 20%;
width: 100%;
background-repeat: no-repeat;
margin-bottom: 0px;
float: left;
}
.container
{
margin-top: 0px;
background-image: url(http://localhost/airbook/Home/Background.jpg);
width: 100%;
height: 150%;
}
.navigation
{
position: relative;
z-index: 2;
}
nav
{
font-size: 18px;
background-color: #993300;
width: 100%;
margin-left: auto;
margin-right: auto;
}
nav ul
{
position: relative;
margin-left: 15px;
list-style-type: none;
padding: 0px;
}
nav ul li
{
display: inline-block;
padding: 20px;
}
nav ul li:hover
{
background-color: #333;
}
nav ul li a,visited
{
color: #ccc;
padding: 10px;
text-decoration: none;
}
nav ul li:hover ul
{
display: block;
}
nav ul ul
{
display: none;
position: absolute;
margin-top: 20px;
margin-left: -20px;
min-width: 100px
}
nav ul ul li
{
display: block;
padding: 15px;
margin-left: 0px;
background-color: #993300;
}
nav ul ul li a
{
margin-left: 5px;
}
iframe
{
border: 10px;
padding: -2px;
}
.frame
{
align: center;
position: relative;
left: 280px;
margin-left: auto;
margin-right: auto;
z-index: 1;
}
.sign
{
position: absolute;
top: 2px;
right: 10px;
margin-top: 4px;
}
.sign a
{
font-size: 18px;
padding: 4px;
text-decoration: none;
}
.sign a:hover
{
background-color:#993300;
}
.footer
{
background-color:black;
opacity: 0.7;
color: white;
text: white;
padding-top: 25px;
}
.footer p1
{
margin-left: 30px;
font-size: 20px;
}
.about
{
display: inline;
font-size: 15px;
float: left;
margin-left: 18px;
}
.contact
{
display: inline;
width: 15%;
position: relative;
right: -400px;
font-size: 15px;
}