.outerbox
{
margin-left: auto;
margin-right: auto;
align: center;
width: 700px;
overflow: hidden;
}
#sliderbox
{
position: relative;
width: 2800px;
animation-name: zeeshan;
animation-duration: 20s;
animation-iteration-count: infinite;
}
#sliderbox img
{
float: left;
}
@keyframes zeeshan
{
  0%
   {
     left: 0px;
   }
  20%
   {
     left: 0px;
   }
  25%
   {
     left: -700px;
   }
  45%
   {
     left: -700px;
   }
  50%
   {
     left: -1400px;
   }
  70%
   {
     left: -1400px;
   }
  75%
   {
     left: -2100px;
   }
  95%
   {
     left: -2100px;
   }
  100%
   {
     left: -2800px;
   }  
}